{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "semi": "error",
        "quotes": "error",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/ban-types": "off"
    }
}
  